<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2020 Wamoco GmbH
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="theme-rewrites" xsi:type="array">
                    <item name="class" xsi:type="string">Wamoco\TwigTheme\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">15</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- fetch messages by ajax -->
    <type name="Magento\Framework\Controller\ResultInterface">
        <plugin name="result-messages" disabled="true" />
    </type>

    <type name="Wamoco\TwigTheme\Engine\Twig">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="escapeHtmlAttr" xsi:type="string">Wamoco\TwigTheme\Engine\Filters\EscapeHtmlAttr</item>
                <item name="escapeUrl" xsi:type="string">Wamoco\TwigTheme\Engine\Filters\EscapeUrl</item>
                <item name="formatDate" xsi:type="string">Wamoco\TwigTheme\Engine\Filters\Date</item>
                <item name="price" xsi:type="string">Wamoco\TwigTheme\Engine\Filters\Price</item>
                <item name="qty" xsi:type="string">Wamoco\TwigTheme\Engine\Filters\Qty</item>
                <item name="trans" xsi:type="string">Wamoco\TwigTheme\Engine\Filters\Translate</item>
            </argument>
            <argument name="functions" xsi:type="array">
                <item name="blockExists" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\BlockExists</item>
                <item name="customerData" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\CustomerData</item>
                <item name="getAsset" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetAsset</item>
                <item name="getBaseUrl" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetBaseUrl</item>
                <item name="getBlock" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetBlock</item>
                <item name="getBreadcrumbs" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetBreadcrumbs</item>
                <item name="getCart" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetCart</item>
                <item name="getCustomer" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetCustomer</item>
                <item name="getFormKey" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetFormKey</item>
                <item name="getHeadData" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetHeadData</item>
                <item name="getHelper" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetHelper</item>
                <item name="getJs" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetJs</item>
                <item name="getProduct" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetProduct</item>
                <item name="getProductImage" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetProductImage</item>
                <item name="getRequest" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetRequest</item>
                <item name="getRequestParam" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetRequestParam</item>
                <item name="getUrl" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetUrl</item>
                <item name="getViewFileUrl" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\GetViewFileUrl</item>
                <item name="renderBlock" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\RenderBlock</item>
                <item name="renderChildBlock" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\RenderChildBlock</item>
                <item name="renderCmsBlock" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\RenderCmsBlock</item>
                <item name="renderElement" xsi:type="string">Wamoco\TwigTheme\Engine\Functions\RenderElement</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Action\Action">
        <plugin name="action-plugin" type="Wamoco\TwigTheme\Plugin\Magento\Framework\App\Action\Action" sortOrder="50" />
    </type>

    <virtualType name="Wamoco\TwigTheme\ThemeDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/theme.log</argument>
         </arguments>
    </virtualType>
    <virtualType name="wmcThemeLog" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Wamoco\TwigTheme\ThemeDebug</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Wamoco\TwigTheme\Plugin\Magento\Framework\App\Action\Action">
        <arguments>
            <argument name="logger" xsi:type="object">wmcThemeLog</argument>
        </arguments>
    </type>

    <type name="Wamoco\TwigTheme\Engine\Config">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Config</argument>
            <argument name="logger" xsi:type="object">wmcThemeLog</argument>
        </arguments>
    </type>
</config>
